# Virtual environments
.venv/

# ignore all csv data
DATA/

# all temporary python scripts
temp_*.py

# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Packaging build artifacts
dist/ 
*.egg-info/

# all vscode configuration
.vscode/

# ignore steup files 
build/